<div class="bgimg-1">
  <div class="caption">
    <span class="border">SCROLL DOWN</span>
  </div>
</div>

<header class="header" id="sticky-header">
  <div class="logo"></div>
  <h2>Realtor</h2>
  <a routerLink="/login">Sign In</a>
</header>

<div class="demo-content">
  <h3 style="text-align:center;">Realtor</h3>
  <p>This App is the trusted resource for home buyers, sellers and dreamers, offering the most comprehensive source of for-sale
    properties, among competing national sites, and the information, tools and professional expertise to help people move
    confidently through every step of their home journey. It pioneered the world of digital real estate 20 years ago, and
    today helps make all things home simple, efficient and enjoyable. realtor.com® is operated by News Corp subsidiary Move,
    Inc. under a perpetual license to operate realtor.com® from the National Association of REALTORS.® Move, Inc. provides
    unsurpassed real estate information, tools and professional expertise across a family of websites and mobile experiences
    for consumers and real estate professionals through all stages of the home journey. The Move network includes realtor.com®

    <br/> As well as Doorsteps®, Moving.com™ and SeniorHousingNet℠. Move also offers a complete solution of software products
    and services to help real estate professionals serve their clients and grow their business in a digital world, including
    ListHub™, the nation’s leading listings syndicator and centralized intelligence platform for the real estate industry;
    Top Producer® Systems; FiveStreetSM and Reesio as well as many free services. It has a perpetual license to operate realtor.com®
    <br/> from the National Association of REALTORS®. Realtor.com® is the trusted resource for home buyers, sellers and dreamers,
    offering the most comprehensive source of for-sale properties, among competing national sites, and the information, tools
    and professional expertise to help people move confidently through every step of their home journey. It pioneered the
    world of digital real estate 20 years ago, and today helps make all things home simple, efficient and enjoyable. realtor.com®
    is operated by News Corp subsidiary Move, Inc. under a perpetual license to operate realtor.com® from the National Association
    of REALTORS.®</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
  </div>
</div>

<div class="content">
  <p>Realtor provides unsurpassed real estate information, tools and professional expertise across a family of websites and
    mobile experiences for consumers and real estate professionals through all stages of the home journey. The Move network
    includes realtor.com® as well as Doorsteps®, Moving.com™ and SeniorHousingNet℠. Move also offers a complete solution
    of software products and services to help real estate professionals serve their clients and grow their business in a
    digital world, including ListHub™, the nation’s leading listings syndicator and centralized intelligence platform for
    the real estate industry; Top Producer® Systems; FiveStreetSM and Reesio as well as many free services. It has a perpetual
    license to operate realtor.com® from the National Association of REALTORS®.</p>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
</div>

<div class="content">
  <p>Realtor provides unsurpassed real estate information, tools and professional expertise across a family of websites and
    mobile experiences for consumers and real estate professionals through all stages of the home journey. The Move network
    includes realtor.com® as well as Doorsteps®, Moving.com™ and SeniorHousingNet℠. Move also offers a complete solution
    of software products and services to help real estate professionals serve their clients and grow their business in a
    digital world, including ListHub™, the nation’s leading listings syndicator and centralized intelligence platform for
    the real estate industry; Top Producer® Systems; FiveStreetSM and Reesio as well as many free services. It has a perpetual
    license to operate realtor.com® from the National Association of REALTORS®.</p>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>