<div class="search">

  <h1>Datasets</h1>

  <mat-card>
    <div class="table-header">
      <mat-form-field>
        <input matInput #filter placeholder="Filter">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onEdit(0)">Create</button>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="insertDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Insert Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.insertDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="logo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Logo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.logo }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [length]="dataSource.total" [pageSizeOptions]="paginatorSizes">
    </mat-paginator>

  </mat-card>
</div>