<mat-card>

  <form (ngSubmit)="onLogin()" novalidate>

    <mat-form-field>
      <input matInput name="login" placeholder="Username" type="text" [(ngModel)]="model.email">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="model.password" name="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Login</button>

  </form>

</mat-card>