:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mat-drawer-container {
    flex: 1;
    background-color: inherit;
}

.mat-sidenav {
    width: 200px;
}

.content {
    padding: 24px;
}
