@import "~sass/abstract";

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    /deep/ {

        .mat-tab-group {
            height: 100%;
        }

        .mat-tab-label-content {
            display: flex;
            align-items: center;
            text-transform: uppercase;

            span {
                margin-left: 8px;
            }
        }

        .mat-tab-body {
            padding-top: 24px;
        }
    }
}

page-header {
    height: 80px;
    min-height: 80px;
}

.page-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
}
