<page-header [title]="title"></page-header>

<mat-card class="page-content">
  <mat-tab-group class="demo-tab-group">

    <mat-tab label="Basic Details">
      <ng-template mat-tab-label>
        <mat-icon>security</mat-icon>
        <span>Basic Details</span>
      </ng-template>
      <basic-details [model]="model"></basic-details>
    </mat-tab>

    <mat-tab label="Train Tab" [disabled]="!model.id">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
        <span>Train Info</span>
      </ng-template>
      <train-data-set [id]="model.id" [files]="model.fileEntries"></train-data-set>
    </mat-tab>

    <mat-tab label="Train Dataset Items Tab" *ngIf="model.id">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
        <span>Dataset Items</span>
      </ng-template>

      <data-set-items [searchModel]="dataSetItemsSearch" [items]="dataSetItems" (search)="onSearchDataSetItems()" (lazy)="onLazyDataSetItems()">
      </data-set-items>

    </mat-tab>

    <mat-tab label="Network History Tab" [disabled]="!model.id">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
        <span>Network History</span>
      </ng-template>
      <data-set-network [id]="model.id" [items]="dataSetNetworks"></data-set-network>
    </mat-tab>

    <mat-tab label="Network Predicts Tab" [disabled]="!model.id">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
        <span>Network Predicts</span>
      </ng-template>
      <data-set-predicts [id]="model.id" [items]="dataSetPredicts"></data-set-predicts>
    </mat-tab>

  </mat-tab-group>
</mat-card>

<fab-page-actions (save)="onSave()" (cancel)="onCancel()"></fab-page-actions>