<page-header [title]="title"></page-header>
<mat-card class="dataset-content">
  <mat-tab-group class="demo-tab-group">

    <mat-tab label="Basic Details">
      <ng-template mat-tab-label>
        <mat-icon>security</mat-icon>
        <span>Basic Details</span>
      </ng-template>
      <basic-details [model]="model"></basic-details>
    </mat-tab>

    <mat-tab label="Columns Tab">
      <ng-template mat-tab-label>
        <mat-icon>list</mat-icon>
        <span>Properties</span>
      </ng-template>
      <data-set-properties [model]="model"></data-set-properties>
    </mat-tab>

    <mat-tab label="Attachments Tab">
      <ng-template mat-tab-label>
        <mat-icon>attach_file</mat-icon>
        <span>Upload Files</span>
      </ng-template>
      <data-set-attachments [model]="model"></data-set-attachments>
    </mat-tab>

  </mat-tab-group>
</mat-card>