@import '~sass/abstract';

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    /deep/ .mat-tab-label-content{
        display: flex;
        align-items: center;
    
        span {
            margin-left: 8px;
        }
    } 
}

.dataset-content {
    height: 100%;
}
