@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$md-primary: (
    50 : #e8e9eb,
    100 : #c6c8cd,
    200 : #a1a4ac,
    300 : #7b7f8a,
    400 : #5e6371,
    500 : #424858,
    600 : #3c4150,
    700 : #333847,
    800 : #2b303d,
    900 : #1d212d,
    A100 : #7494ff,
    A200 : #416dff,
    A400 : #0e46ff,
    A700 : #0038f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #0f9cf3,
    100 : #c6c8cd,
    200 : #a1a4ac,
    300 : #7b7f8a,
    400 : #5e6371,
    500 : #424858,
    600 : #3c4150,
    700 : #333847,
    800 : #2b303d,
    900 : #1d212d,
    A100 : #7494ff,
    A200 : #416dff,
    A400 : #0e46ff,
    A700 : #0038f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($md-primary);
$candy-app-accent:  mat-palette($md-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);