@import '~@angular/material/theming';

@include mat-core();

$md-primary: (
    50 : #e8e9eb,
    100 : #c6c8cd,
    200 : #a1a4ac,
    300 : #7b7f8a,
    400 : #5e6371,
    500 : #424858,
    600 : #3c4150,
    700 : #333847,
    800 : #2b303d,
    900 : #1d212d,
    A100 : #7494ff,
    A200 : #416dff,
    A400 : #0e46ff,
    A700 : #0038f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #0f9cf3,
    100 : #c6c8cd,
    200 : #a1a4ac,
    300 : #7b7f8a,
    400 : #5e6371,
    500 : #424858,
    600 : #3c4150,
    700 : #333847,
    800 : #2b303d,
    900 : #1d212d,
    A100 : #7494ff,
    A200 : #416dff,
    A400 : #0e46ff,
    A700 : #0038f4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$vrp-app-primary: mat-palette($md-primary);
$vrp-app-accent:  mat-palette($md-accent, A200, A100, A400);

$vrp-app-warn:    mat-palette($mat-red);

$vrp-app-theme: mat-light-theme($vrp-app-primary, $vrp-app-accent, $vrp-app-warn);

@include angular-material-theme($vrp-app-theme);