@import "theme";
@import "reset";
@import "abstract";

body {
    background-color: $light;
}

.table-header {
    .mat-form-field {
        margin-right: 12px;
    }
}

button {
    text-transform: uppercase;
}

fab-page-actions {
    position: fixed;
    right: 100px;
    bottom: 100px;
    z-index: 10;
}
