@import '~@angular/material/prebuilt-themes/purple-green.css';

html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}
