:host {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mat-table {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.mat-header-cell {
    text-transform: uppercase;
}

.mat-column-actions {
    text-align: center;
    max-width: 100px;
}

.closed-row {
    opacity: 0.6;
}
