:host {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.mat-table {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.mat-header-cell {
    text-transform: uppercase;
}

.filter-container {
    .mat-form-field {
        margin-right: 30px;
    }
}
