<div class="filter-container">

  <mat-form-field>
    <input matInput #filter placeholder="Filter" [(ngModel)]="searchModel.query" (ngModelChange)="search.emit()">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Item Type" [(ngModel)]="searchModel.dataSetType" (ngModelChange)="search.emit()">
      <mat-option *ngFor="let dataSetItemType of dataSetItemTypes" [value]="dataSetItemType.value">{{ dataSetItemType.name }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<mat-table #table [dataSource]="items" *ngIf="items" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <ng-container matColumnDef="district">
    <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.district}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="productType">
    <mat-header-cell *matHeaderCellDef> Product Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.productType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price | currency:'RUB ':true:'1.0-0' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="rooms">
    <mat-header-cell *matHeaderCellDef> Rooms </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.rooms}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fullArea">
    <mat-header-cell *matHeaderCellDef> Full Area </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fullArea}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="yearBuilt">
    <mat-header-cell *matHeaderCellDef> Year Built </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.yearBuilt || '' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="insertDate">
    <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.insertDate | date:"MM/dd/yyyy" }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>