<mat-nav-list>

  <h3 mat-subheader>Manage</h3>
  <mat-list-item [routerLink]="navigation.link" routerLinkActive="active" *ngFor="let navigation of manageNavigations">
    <mat-icon mat-list-icon>{{navigation.icon}}</mat-icon>
    <h4 mat-line>{{navigation.title}}</h4>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Settings</h3>

  <mat-list-item [routerLink]="navigation.link" routerLinkActive="active" *ngFor="let navigation of settingsNavigations">
    <mat-icon mat-list-icon>{{navigation.icon}}</mat-icon>
    <h4 mat-line>{{navigation.title}}</h4>
  </mat-list-item>

</mat-nav-list>

<div class="spacer"></div>

<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>power_settings_new</mat-icon>
    <h4 mat-line>Logout</h4>
  </mat-list-item>
</mat-nav-list>