<page-header [title]="title"></page-header>

<mat-card class="page-content">
    <form (ngSubmit)="onSave()" #userForm="ngForm" *ngIf="user">

        <img [src]="user.logo" width="200" height="200" alt="User logo" />
        <br/>

        <mat-form-field>
            <input id="email" name="email" matInput type="email" placeholder="Email" [(ngModel)]="user.email" required email>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input id="firstName" name="firstName" matInput type="text" placeholder="First Name" [(ngModel)]="user.firstName" required>
        </mat-form-field>
        <br/>

        <mat-form-field>
            <input id="lastName" name="lastName" matInput type="text" placeholder="Last Name" [(ngModel)]="user.lastName" required>
        </mat-form-field>
        <br/>

        <mat-checkbox id="isAdmin" name="isAdmin" [(ngModel)]="user.isAdmin" [disabled]="currentUser?.id === user.id">Admin</mat-checkbox>
    </form>
</mat-card>

<fab-page-actions (save)="onSave()" (cancel)="onCancel()"></fab-page-actions>