<div class="search">
  <h1>Users</h1>
  <mat-card>
    <div class="table-header">
      <mat-form-field>
        <input matInput #filter placeholder="Filter">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onEdit(0)">Create</button>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="isAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Admin </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.isAdmin ? 'Yes' : 'No' }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inActive">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox (change)="onToggleActive(element.id)" [checked]="!element.inActive" [disabled]="currentUser?.id === element.id"></mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="pageSize" [length]="dataSource.total" [pageSizeOptions]="paginatorSizes">
    </mat-paginator>

  </mat-card>
</div>

<div class="center">
  <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <span>optional content (don't set headertext then)</span>
  </file-drop>
  <div class="upload-table">
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>