<div class="col-md-3">

  <h3>Select files</h3>

  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
    Base drop zone
  </div>

  <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="well my-drop-zone">
    Another drop zone
  </div>

  Multiple
  <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
  <br/> Single
  <input type="file" ng2FileSelect [uploader]="uploader" />
</div>