<page-header [title]="'Manage Datasets'"></page-header>

<mat-card class="page-content">
  <div class="table-header">
    <mat-form-field>
      <input matInput #filter placeholder="Filter">
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onEdit(0)">Create</button>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="insertDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Insert Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.insertDate | date:"MM/dd/yyyy" }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions" class="actions-row">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <button mat-mini-fab color="accent" (click)="onTrain(element.id)" matTooltip="Train">
          <mat-icon aria-label="Train">transform</mat-icon>
        </button> -->
        <button mat-mini-fab color="primary" (click)="onEdit(element.id)" matTooltip="Edit">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-mini-fab color="accent" (click)="onDelete(element.id)" matTooltip="Delete">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [pageSize]="pageSize" [length]="dataSource.total" [pageSizeOptions]="paginatorSizes">
  </mat-paginator>

</mat-card>