<div class="container">

  <mat-card>
    <mat-card-title routerLink="./users" routerLinkActive="active">Users</mat-card-title>
    <mat-card-subtitle>Faster startup time with lazy loaded feature modules</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title routerLink="./realties" routerLinkActive="active">Realties</mat-card-title>
    <mat-card-subtitle>Flexible theming support for provided and custom components</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title routerLink="./datasets" routerLinkActive="active">Datasets</mat-card-title>
    <mat-card-subtitle>Superior developer experience, code completion, refactoring and less bugs</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

</div>