<div class="container">

  <mat-card>
    <mat-card-title routerLink="./users" routerLinkActive="active">Users</mat-card-title>
    <mat-card-subtitle>Faster startup time with lazy loaded feature modules</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title routerLink="./realties" routerLinkActive="active">Realties</mat-card-title>
    <mat-card-subtitle>Flexible theming support for provided and custom components</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <code></code> Typescript</mat-card-title>
    <mat-card-subtitle>Superior developer experience, code completion, refactoring and less bugs</mat-card-subtitle>
    <mat-card-actions>actions</mat-card-actions>
  </mat-card>

</div>


<!-- <mat-tab-group class="demo-tab-group">
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <mat-icon>security</mat-icon>
    </ng-template>
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
      vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
      enim, vel tempor sapien arcu a tellus.
    </div>
  </mat-tab>
  <mat-tab label="Tab 2">
    <ng-template mat-tab-label>
      <mat-icon>attach_file</mat-icon>
    </ng-template>
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
      vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
      enim, vel tempor sapien arcu a tellus.
    </div>
  </mat-tab>
  <mat-tab label="Tab 3" disabled>
    <ng-template mat-tab-label>
      <mat-icon>block</mat-icon>
    </ng-template>
    No content
  </mat-tab>
  <mat-tab label="Tab 4">
    <ng-template mat-tab-label>
      <mat-icon>loop</mat-icon>
    </ng-template>
    <div class="demo-tab-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
      vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
      enim, vel tempor sapien arcu a tellus.
      <br />
      <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui
      mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
      felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
      enim, vel tempor sapien arcu a tellus.
    </div>
  </mat-tab>
  <mat-tab label="Tab 5">
    <ng-template mat-tab-label>
      <mat-icon>build</mat-icon>
    </ng-template>
    No content
  </mat-tab>
  <mat-tab label="Tab 6">
    <ng-template mat-tab-label>
      <mat-icon>thumb_down</mat-icon>
    </ng-template>
    No content
  </mat-tab>
</mat-tab-group> -->